<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create new User</title>

</head>
<body>


<div id="createNew">
  <form action ="/createNew" method="post">
    <label>Email</label>
    <input type="text" name="email" placeholder="Email">
    <br>
    <label>UserName</label>
    <input type="text" name="userName" placeholder="User Name">
    <br>
    <label>First Name</label>
    <input type="text" name="fName" placeholder="First Name">
    <br>
    <label>Last Name</label>
    <input type="text" name="lName" placeholder="Last Name">
    <br>
    <label>Password</label>
    <input type="text" name="password" placeholder="Password">
    <br>
    <input type="submit" value="Save User" style="background-color: white">
    <br>
  </form>
</div>
</body>
</html>