<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" href="myCSS.css">

  <style>
    body{
      background-color: white;
      margin-left: 20vh;
      margin-right: 20vh;
    }

    Section{
      background-color: antiquewhite;
      display: grid;
      grid-row: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }

    header{
      display: flex;
      justify-content: center;
      background-color: antiquewhite;
      font-size: 1.5em;
    }

    .addPeopleDiv{
      position: fixed;
    }
  </style>

</head>

<body>
<div>
  <form action="/addRelation/userName" method="post">
    <label for="userName">Username</label>
    <input type="text" id="userName" name="userName">
    <input  type="submit">
  </form>
  <form action="/addRelation/email" method="post">
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
    <input  type="submit">
  </form>
</div>
  <div th:text="${wishLists}">Wishlist</div>

  <div> nyt ønske? <a href="/createwish">klik her</a></div>
</body>
<body>
<div class="addPeopleDiv">TILFØJ</div>
<header>
  Min ønskeliste
</header>
<section>

  <div>
    <table>
      <tr>
        <th>Title</th>
      </tr>
      <tr th:each = "w : ${wishList}"><td  th:text="${w.title}">Oregano</td></tr>
    </table>
  </div>
  <div>
    <table>
      <tr><th>link</th></tr>
      <tr th:each = "w : ${wishList}"><td th:text="${w.link}">link.dk</td></tr>
    </table>
  </div>
  <div>
    <table>
      <tr><th>Remove wish</th></tr>
      <tr th:each = "w : ${wishList}"><td><a th:href="@{'/delete/' + ${w.title} + '/delete/' + ${w.userID}}"> Delete</a></td></tr>
    </table>
  </div>
</section>

<div th:each="w : ${wishlistArray}">
  <span th:text="${w.userName}">Username</span>
  <span>'s ønsker:</span>
<section>
  <div>
    <table>
      <tr>
        <th>Title</th>
      </tr>
      <tr th:each = "wish : ${w.wishes}"><td th:text="${wish.title}">Oregano</td></tr>
    </table>
  </div>
  <div>
    <table>
      <tr><th>link</th></tr>
      <tr th:each = "wish : ${w.wishes}"><td th:text="${wish.link}">link.dk</td></tr>
    </table>
  </div>
  <div>
    <table>
      <tr><th>Reserve wish</th></tr>
      <tr th:each = "wish : ${w.wishes}"><td><a th:href="@{'/reserve/'+${wish.title}+'/reserve/'+${wish.userID}}" th:text="${wish.reservedString()}"></a></td></tr>
    </table>
  </div>
</section>
</div>
</body>
</html>