<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" href="myCSS.css">

  <style>
    th{
      font-size: 16px;
    }
    td, th{
      text-align: left;
      color: black;
      border: 2px solid black;
    }


  </style>

</head>

<body>
<div>
  <form action="/addRelation/userName" method="post">
    <label for="userName">Username</label>
    <input type="text" id="userName" name="userName">
    <input  type="submit">
  </form>
  <form action="/addRelation/email" method="post">
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
    <input  type="submit">
  </form>
</div>
  <div th:text="${wishLists}">Wishlist</div>

  <div> nyt ønske? <a href="/createwish">klik her</a></div>
</body>
</html>